@page
@model OnlineBookstore.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
        <h2>Jeff Bezos sends his regards</h2>
        <a class="btn btn-primary" asp-controller="Home">Return Home</a>
        
</div>
